.inputFields{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none !important;
    border: 0px;
    width: 100%;
    font-size: 18px;
}

input::-webkit-input-placeholder {
    font-size: 15px;
}
.Notified{
    margin : 10px 0px;
    font-weight: bold;
}
.secName_HistoryI {
    margin-top: 20px;
    font-weight: bold;
    color: black;
    font-size: 20px;
  }