
.history {
    border: 0px;
  background-color: white;
  border-radius: 10px;
  /* border: 2px solid gray; */
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  border-right: 15px solid #449d44;
}
.history1 {
    border: 0px;
    background-color: white;
    border-radius: 10px;
  /* margin-top: 10px; */
  margin:10px 20px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  border-right: 15px solid #c9302c;
}
.deleteBtn{
    opacity: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
.history1:hover .deleteBtn{
    opacity: 1;
}
.deleteBtn:hover{
    cursor: pointer;
}
.historyWrapper{
    height:200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Media Querries */
@media (max-width: 440px) {
.history,.history1{
    font-size: 15px;
}
  }